.about {
  margin: 0 30px;
  padding: 0;
}

.about__title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-family: "Opensans Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.about-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.about-list__item {
  font-family: "Opensans Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  max-width: 260px;
}

.about-list__item:not(:last-child) {
  padding-bottom: 42px;
}


@media (min-width: 768px) {
  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-list {
    margin-top: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 110px;
  }
}
