.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-list__item {
  max-width: 260px;
  font-family: $bold;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}

.about-list__item:not(:last-child) {
  padding-bottom: 42px;
}

@media (min-width: $tablet) {
  .about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 110px;
    margin-top: 110px;
  }
}
