
.color-list {
  margin: 0;
  padding: 0;
  font-family: $bold;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  list-style-type: none;
}

.color-list__item {
  margin: 0 0 24px 0;
}

@media (min-width: $tablet) {
  .color-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px 0 0 181px;
  }
}

@media (min-width: $desktop) {
  .color-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
