.container {
  margin: 0 auto;
  max-width: 260px;
}

@media (min-width: $tablet) {
  .container {
    max-width: 708px;
  }
}

@media (min-width: $desktop) {
  .container {
    max-width: 1050px;
  }
}
