.contact {
  margin: 0 30px 39px 30px;
}

.contact__wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

.contact__title {
  font-family: "Opensans Bold", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.contact__email {
  font-family: "Opensans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: $dark-grey;
  font-style: normal;
  display: grid;
  grid-template-columns: 76px 183px;
}

.contact__address {
  font-family: "Opensans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: $dark-grey;
  font-style: normal;
  display: grid;
  grid-template-columns: 76px 183px;
  margin: 0;
  margin-bottom: 62px;
}

.contact__map {
  margin: 0 auto;
  margin-bottom: 42px;
  padding: 0;
  width: 100%;
  background-size: cover;
}

.contact__button {
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .contact__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
