.main-hero {
  margin: 0;
  padding: 0;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-size: cover;
  height: 368px;
}
