.main-footer__logo {
  display: none;
}

.main-footer__wrapper {
  background-color: $light-grey;
  padding-top: 25px;
}

.main-footer__development {
  padding: 0;
  display: flex;
  align-items: center;
  width: 172px;
  margin: 59px auto 0;
}

.main-footer__title {
  font-family: "Opensans Bold", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  margin-right: 27px;
}

.main-footer__logo-academy {
  padding: 0;
}

@media (min-width: $tablet) {
  .main-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer__development {
    margin: 0;
    margin-right: 30px;
  }

  .main-footer__logo {
    display: block;
    margin-left: 30px;
  }
}
