.main-hero {
  height: 368px;
  margin: 0;
  padding: 0;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
  background-size: cover;
}


@media (min-width: $tablet) {
  .main-hero {
    margin-top: -70px;
    background-position: 0 20px;
  }
}

@media (min-width: $desktop) {
  .main-hero {
    margin-top: -50px;
    background-position: 0 40px;
  }
}
