.main-nav__list {
  list-style-type: none;
  font-family: "Opensans Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;

}

.main-nav__list-item {
  border-top: 1px solid #ECECEC;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 27px;

  &:last-child {
    border-bottom: 1px solid #ECECEC;
  }
}

.main-nav__list-item--desktop {
  display: none;
}


@media (min-width: 768px) {

  .main-nav__list {
    display: flex;
    margin-right: auto;
  }

  .main-nav__list-item {
    border: none;
    padding-top: 20px;
    padding-bottom: 0;

    &:last-child {
      border-bottom: none;
    }
  }

}

@media (min-width: 1150px) {
  .main-nav__list {
    display: grid;
    grid-template-columns: 300px 300px;
    margin-right: auto;
    margin-top: -70px;
    position: absolute;
    text-align: left;
  }

  .main-nav__list-item {
    padding-bottom: 31px;
    margin-left: 35px;
  }

  .main-nav__list-item--desktop {
    display: block;
  }

}
