.main-header__logo-pic {
  display: block;
  margin: 22px auto 0;
}

@media (min-width: $tablet) {
  .main-header__logo-pic {
    margin: 0 auto 48px 22px;
  }
}

@media (min-width: $desktop) {
  .main-header__logo-pic {
    margin: 9px auto 0;
  }
}
