.main-title {
  width: 260px;
  margin: 0 auto;
  padding: 73px 0;
  font-family: $bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: $tablet) {
  .main-title {
    width: 668px;
    font-size: 43px;
    font-weight: 700;
    line-height: 50px;
  }
}

@media (min-width: $desktop) {
  .main-title {
    padding-top: 114px;
  }
}
