.page-shipping {
  font-family: "Opensans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: $dark-grey;
  display: none;
  margin: 0;
  padding: 0;
}
