
.products-section--dark {
  background-color: $mint;
}

.products-section__title {
  max-width: 130px;
  margin: 0;
  padding: 24px 0 31px 30px;
  font-family: $bold;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
}

@media (min-width: $tablet) {
  .products-section {
    width: 50%;
    max-width: 708px;
    margin: 0 auto;
  }
}
