
.products-section--dark {
  background-color: $mint;
}

.products-section__title {
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  font-family: $bold;
  padding-top: 24px;
  padding-bottom: 31px;
  max-width: 130px;
  padding-left: 30px;
  margin: 0;
}

@media (min-width: $tablet) {
  .products-section {
    width: 50%;
  }
}
