.products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}


@media (min-width: 1150px) {
  .products-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
