.product {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.product__pic {
  width: 260px;
  height: 195px;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.product__name {
  font-family: "Opensans Bold", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
}

.product__measures {
  font-family: "Opensans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: $dark-grey;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
}

.product__price {
  font-family: "Opensans Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 0;
}

@media (min-width: $desktop) {
  .product {
    border: none;
  }

  .product__pic {
    width: 316px;
    height: 462px;
  }
}
