.top-product {
  margin: 0 auto;
}

.top-product__wrapper {
  margin: 0 auto;
  max-width: 260px;
}

.top-product__title {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  font-family: $bold;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}

.top-product__bage {
  margin: 0;
  padding: 0;
  font-family: $bold;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: $mint;
}

.top-product__description {
  margin: 0;
  padding: 18px 0 21px;
  font-family: $regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: $dark-grey;
}

.top-product__features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  font-family: $regular;
  color: $dark-grey;
}

.top-product__image {
  display: block;
  margin: 0 auto;
  padding: 0;
  min-width: 260px;
}

.top-product__price {
  margin-bottom: 25px;
  font-family: $bold;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #444444;
}

.top-product__button {
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .top-product__bage {
    margin-top: -30px;
    text-align: right;
  }

  .top-product__description {
    width: 292px;
  }

  .top-product__features {
    width: 256px;
  }

  .top-product__image {
    margin: -246px 0 0 auto;
  }

  .top-product__price {
    margin-left: 50px;
    text-align: left;
  }

  .top-product__button {
    margin-left: 50px;
  }
}
