.button {
  width: 260px;
  height: 52px;
  border: 2px 0 0 0;
  border-color: #444444;
  opacity: 0;
  font-family: "Opensans Bold", sans-serif;
  text-transform: uppercase;
  color: #444444;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  background-color: #ffffff;
  box-sizing: border-box;
  display: block;
}
