//screen-width
$desktop: 1150px;
$tablet: 768px;

//colors
$dark-grey: #444444;
$light-grey: #f1f1f1;
$grey: #ececec;
$mint: #63d1bb;
$white: #ffffff;
$normal-grey: #e1e1e1;

//fonts
$regular: "Opensans", sans-serif;
$bold: "Opensans Bold", sans-serif;
